/* Ajustes Mobile para a Management Toolbar */
@media (max-width: 767px) {
    .management-toolbar {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
        padding: 0.75rem !important;
    }
}